.add-form {
    margin-top: 50px;
}

.add-form button {
    margin-left: 20px;
}

.form-check-deleted label {
    text-decoration: line-through;
}

.form-check-reestablish-button,
.form-check-delete-button {
    position: absolute;
    right: 0;
    cursor: pointer;
    font-size: 20px;
}